

/nbproject/
/target/
target/JavaWeb-1.0-SNAPSHOT.war
target/JavaWeb-1.0-SNAPSHOT/static/vendors/bootstrap/.gitattributes
target/JavaWeb-1.0-SNAPSHOT/static/vendors/validator/.gitattributes
target/JavaWeb-1.0-SNAPSHOT/Tomcat.dpf
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Main.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Cargo.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Colaborador.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Comuna.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/CorreoColaborador.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Empresa.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/ExpedienteUsuario.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Pais.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/Region.class
target/JavaWeb-1.0-SNAPSHOT/WEB-INF/classes/Models/TelefonoColaborador.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/main/java/connection/Conexion.java
